button[type=back] {
    float: right;
    background-color: black;
    color: white;
}
button[type=dark-mode-toggle] {
    float: right;
}

button[type=submit] {
    background-color: black;
    color: white;
}

label[for=text] {
    text-decoration: underline;
    font-size: 20px;
}